<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${vm.get(0).board().boardName}">게시판 이름</h2>

<div id="summary-post-card">

    <div th:each="posts:${vm}">
        <hr>
        <a th:text="${posts.title}" th:href="@{'/' + ${posts.board} + '/post-status/' + ${posts.postId} + '/detail'}">게시물 제목</a>
        <p th:text="${posts.postsReactionCount().reportCount}">신고횟수</p>
        <a th:href="@{'/admin/board/' + ${posts.board.boardId} + '/post-status/' + ${posts.postId} + '/detail'}">
            <button>상세보기</button>
        </a>
        <hr>
    </div>
    <br>
</div>
</body>
</html>