<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="profile">
    <input type="text" id="authUserId" name="authUserId">
    <input type="password" id="authPassword" name="authPassword">
    <input type="password" id="checkAuthPassword" name="checkAuthPassword">
    <input type="text" id="priEmail" name="priEmail">
    <input type="text" id="priBirth" name="priBirth">
    <button type="submit">update</button>
</form>
</body>
</html>