<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <!-- 실제로는 데이터를 가지고 화면에 뿌려져야함 -->
    <!-- 우선 예상 게시판 하드코딩 -->
    <!-- 게시판 목록: 자유 게시판, 공략 게시판, Q&A 게시판 -->
    <!-- 게시판 목록: 건의사항 게시판, 신고 게시판 -->
    <main>
        <h1>게시판 목록</h1>
        <!-- 전체 게시판 목록 표시 -->
        <nav>
            <ul>
                <li th:each="b : ${boardList}">
                    <a th:href="@{'/boards/' + ${b.board_id}}"
                       th:text="${b.board_name}">게시판명</a>
                </li>
            </ul>
        </nav>

        <!-- 현재 게시판명 -->
        <h2 th:text="'[' + ${board.board_name} + ']'">현재 게시판</h2>

        <!-- 글 목록 -->
        <ul>
            <li th:each="post : ${posts}">
                <a th:href="@{'/boards/' + ${boardId} + '/' + ${post.post_id}}"
                   th:text="${post.post_title}">제목</a>
            </li>
        </ul>

        <!-- 글쓰기 버튼 -->
        <a th:href="@{'/boards/' + ${boardId} + '/new'}">글쓰기</a>

    </main>
</body>
</html>
