<!--nav-frag-->
<nav class="global-nav" th:fragment="nav">
    <ul>
        <li><a href="/games">게임 목록</a></li>
        <li>
            <a href="/board">게시판</a>
            <ul>
                <li th:each="board : ${boardList}">
                    <a th:href="@{'/board/' + ${board.boardId} + '/view'}" th:text="${board.boardName}"></a>
                </li>
            </ul>
        </li>
        <li><a href="/upload">게임 업로드</a></li>
        <li>
            <a href="/mypage">마이페이지</a>
            <ul>
<!--                <li><a href="/mypage/games">내 게임</a></li>-->
<!--                <li><a href="/mypage/favorites">즐겨찾기</a></li>-->
                <li><a href="/my-page/edit-profile">프로필 수정하기</a></li>
            </ul>
        </li>
        <li th:if="${isAdmin}"><a href="/admin">관리자 메뉴</a></li>
    </ul>
</nav>